@import 'tailwindcss';

@font-face {
    font-family: font-1;
    src: url(assets/Lausanne-300.woff2);
}
@font-face {
    font-family: font-2;
    src: url(assets/Lausanne-500.woff2);
}

body{
    overflow-x: hidden;
}

@keyframes moveAnimation {
  from{
    transform: translateX(0);
  }

  to{
    transform: translateX(-100%);
  }
}


.moveLink{
    transform: scaleY(0);
    transform-origin: top;
    transition: all .3s ease;
}

.link:hover .moveLink{
    transform: scaleY(1);
    cursor: pointer;
}

.moveX{
    animation: moveAnimation 8s linear infinite;
}

@keyframes moveRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.moveRight {
  animation: moveRight 8s linear infinite;
}
@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.moveLeft {
  animation: moveLeft 8s linear infinite;
}

.sticky-card{
  position: relative;
  width: 100vw;
  background-color: #0f0f0f;
}

.card{
  position: sticky;
  width: 100%;
  height: 100svh;
  transform-style: preserve-3d;
  perspective: 1000px;
}

#card-4 {
  position: relative; /* sticky hata diya */
  height: 80svh;      /* ab ye kaam karega */
}

.card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  transform-origin: 50% 100%;
  will-change: transform;
  
}

/* #81b7bf */


.card-inner::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: var(--after-opacity, 0);
  will-change: opacity;
  pointer-events: none;
  z-index: 2;
}
